<div class="ui-page" data-role="page" data-add-back-btn="true" >
  <div class="ui-header" data-role="header">
	<h1 class="ui-title">Edit test</h1>
	<%= link_to 'Back', '/', "data-icon" => "back", "class" => "ui-btn-left", "data-rel" => "back", "data-direction" => "reverse" %>
  </div>
  
  <div class="ui-content ui-body" data-role="content" data-theme="a" >
	<%= render 'form' %>
  </div>
</div>
