<div data-role="page" data-add-back-btn="true" >
  <div data-role="header">
	<br style="clear: both;" />	
	<h1>New test</h1>
	<%= link_to 'Back', home_path, "data-icon" => "back", "class" => "ui-btn-left", "data-rel" => "back", "data-direction" => "reverse" %>
  </div>
  
  <div data-role="content" data-theme="a" >
	<%= render 'form' %>
	<br style="clear: both;" />	
  </div>
</div>
