<div data-role="page" data-add-back-btn="true" >
  <div data-role="header">
	<h1>New test</h1>
	<%= link_to 'Back', '/', "data-icon" => "back", "class" => "ui-btn-left", "data-rel" => "back", "data-direction" => "reverse" %>
  </div>
  
  <div data-role="content" data-theme="a" >
	<%= render 'form' %>
  </div>
</div>
