cached/*
config/database.yml
log/*.log
log/*.pid
tmp/**/*
shared/**/*
tmp/restart.txt
.DS_Store
*~
db/schema.rb
db/*.sqlite3
.idea/*
*.esproj/**/*
app/assets/images/prospects
public/assets/images/prospects
.sass-cache/
