<div data-role="page">
  <div data-role="header">
	<br style="clear: both;" />	
	<h1 >Blood Sugar</h1>
	<a href="/blood_tests/new" data-icon="plus" class="ui-btn-right">Add</a>
  </div>
  
  <div data-role="content" data-theme="c">
	<div class="ui-grid-a">
	  <div class="ui-block-a icon-button">
		<%= link_to image_tag("tests.png", :height => 96), blood_tests_path, "data-role" => "none", :class => "icon" %>
		<div>Test Results</div>
	  </div>
	  <div class="ui-block-b icon-button">
		<%= link_to image_tag("charts.png", :height => 96), charts_path, "data-role" => "none", :class => "icon" %>
		<div>Charts</div>
	  </div>
	</div><!-- /grid-a -->
	<br style="clear: both;" />
    <div class="icon-button">
	  <%= link_to image_tag("blood_test.png", :height => 96), new_blood_test_path, "data-role" => "none", :class => "icon" %>
	  <div>New Blood Test</div>
	</div>
	<br style="clear: both;" />	
  </div>
  
</div>
