<div data-role="page">
  <div data-role="header">
	<h1 >Blood Sugar</h1>
	<a href="/blood_tests/new" data-icon="plus" class="ui-btn-right">Add</a>
  </div>
  
  <div data-role="content" data-theme="c">
	  <ul data-role="listview">
		<li class="ui-btn ui-btn-icon-right ui-li">
		  <div class="ui-btn-inner ui-li">
			<div class="ui-btn-text">
			  <a href="/blood_tests" class="ui-link-inherit"><h3>Test Results</h3></a>
			</div>
			<span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
		  </div>
		</li>
		<li class="ui-btn ui-btn-icon-right ui-li">
		  <div class="ui-btn-inner ui-li">
			<div class="ui-btn-text">
			  <a href="/charts" class="ui-link-inherit"><h3>Charts</h3></a>
			</div>
			<span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
		  </div>
		</li>
	  </ul>
	  <br style="clear: both;" />
      <div>
		<a href="/blood_tests/new" data-role="button" data-icon="plus" data-theme="b" >Add Test Result</a>
	  </div>
  </div>

</div>
